.b:link{
    background-color: red;
    color: seagreen;
    text-decoration: none;
}
.b:visited{
    background-color: seagreen;
    color: seashell;
    text-decoration: none;
}
.b:hover{
    background-color: salmon;
    color: saddlebrown;
    text-decoration: underline;
}
.b:active{
    background-color: royalblue;
    color: sandybrown;
    text-decoration: underline;
}